* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.nav {
    height: 100px;
    width: 100%;
    /* background-color: aqua; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.left-nav {
    display: flex;
    align-items: center;
}

.left-nav img {
    height: 50px;
    width: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f3f4;
    padding: 8px 12px;
    border-radius: 24px;
    width: 600px;
    color: black;
}

.search-bar input {
    border: none;
    outline: none;
    background: none;
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
}
.right-nav {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}



.icons {
    display: flex;
    align-items: center;
}

.icons i {
    margin-left: 20px;
    font-size: 30px;
}

/* form section */
.contact-form{
    width: 100%;
    height: 500px;
    /* background-color: violet; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-form{
    background-color: skyblue;
    height: 100%;
    width: 90%;
    display: flex;
    border-radius: 6%;
}
.c-left{
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}
.c-left h1{
    font-size: 3rem;
    margin-top: 140px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

 
}
.c-left h5{
    margin-top: 20px;
     display: flex;
    align-items: center;
    justify-content: center;    
    margin-left: 260px;

}
.c-right{
     width: 50%;
    height: 100%;
     align-items: center;
    justify-content: center;
    position: relative;
}
.name{
    width: 60%;
     margin-top: 140px;
    margin-left: 50px;
}
.email{
        margin-top: 20px;
    width: 60%;
    margin-left: 50px;
}
.checkbox, .btn{
     margin-top: 20px;
    width: 60%;
    margin-left: 50px;
}
.footer{
    background-color: red;
    height: 100px;
        width: 100%;
}
