* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 100px;
    width: 100%;
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.left-nav {
    display: flex;
    align-items: center;
}

.left-nav img {
    height: 50px;
    width: auto;
}

.mid-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.form-control {
    width: 500px; /* increased width */
    height: auto;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.btn-outline-success {
    border-radius: 0 5px 5px 0;
}
.right-nav {
    display: flex;
    align-items: center;
}

.right-nav span {
    margin-right: 20px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons i {
    margin-left: 20px;
    font-size: 20px;
}